@import '../../styles.less';

.contenedor {
    border: 1px solid black;
    width: 20rem;
    color: #FFFFFF;
    text-align: center;
    border-radius: .5rem;
    padding: .5rem;
    background-color: #000000;
}

.nombre {
    color: blue
}

.botonEntrar {
    background-color: rgb(118, 150, 118);
    width: 50%;
    font-weight: bolder;
    color: black;
}

.imagen {
    position: relative;
    width: 100%;
}